#top-section{
 background-image: url("image-1.jpg");
 height: 800px;
}
.asu{
  text-align: center;
  color: yellow;
  padding-top: 200px;
  font-family: 'Playfair Display', serif;
  font-size: 600%;

}
.asu1{
  font-size: 300%;
  font-family: 'Playfair Display', serif;
  text-align: center;
  color: red;
}
.opeing-statment{
  text-align: center;
  padding: 30px;
}
.navbar-nav{
  position: absolute;
  right: 0px;
  padding-right: 25px;
}
.navbar{
  padding: 20px 15px 20px 15px;
}
.card{
  position: relative;
  left: 400px;
  padding-top: 20px;
}

* {
  box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}
.row{
  padding: 30px;
}
#Contact{
  background-color: #65C18C;
  margin-top: 40px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.bottom-icon{
  padding-top: 50px;
  text-align: center;
  color: #65C18C;
}
h1{
  font-family: 'Playfair Display', serif;
}
h2{
  font-family: 'Playfair Display', serif;
  color: yellow;
  padding-top: 20px;
}

.ico{
  padding: 0 25px 10px;
}
.ico:hover{
  color: black;
}
.Copyright{
  text-align:center;
  color:black;
  padding-bottom: 30px;
}
.font{
  position: absolute;
  right: 700px;
  color: yellow;
}
